:root {
  color: white
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}



.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  outline: none;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.board {
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}

.line {
  display: flex;
  gap: 5px;
}


.tile {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #342E37;
  border: 2px solid transparent;

  transform-style: preserve-3d;
  transition:
    transform 0.8s ease,
    background-color 0.3s ease;
}

.flip {
  transform: rotateX(360deg);

}

.correctTile {
  background-color: #A2D729;
}

.closeTile {
  background-color: #FA824C;
}

.checkingTile {
  border-color: #f0ed28;

}

.status {
  font-size: 24px;
}

.header {
  margin: 10px 0px;
  font-size: 24px;
  text-align: center;
}

.restart-btn {
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: bold;
}